{% extends "base.html.twig" %}
{% block title %}
	Connexion
{% endblock %}

{% block header %}{% endblock %}

{% block sidebar %}{% endblock %}
{% block wrapper%}{% endblock %}
{% block layout %}

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <img class="col-lg-6 d-none d-lg-block" src="{{asset('back-office/img/logoResto.png')}}">
              <div class="col-lg-6">
                <div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Bienvenu</h1>
									</div>
									<form class="user" action="{{ path('connexion') }}" method="post">
										<div class="form-group">
											<input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" name="_username" value="{{ last_id }}" placeholder="Enter Email Address...">
										</div>
										<div class="form-group">


											<input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" name="_password">
										</div>
										{% if error %}
											<span style="color:#ff0000">Veuillez verifier vos donnees !!
											</span>
										{% endif %}
										<div class="form-group">
											<div class="custom-control custom-checkbox small">
												<input type="checkbox" class="custom-control-input"  name="_remember_me" id="customCheck" checked>
												<label class="custom-control-label" for="customCheck">Se souvenir</label>
											</div>
										</div>

										<button class="btn btn-primary btn-user btn-block" type="submit" class="btn btn-success">Connexion</button>


                                        

										<hr>
										<a href="index.html" class="btn btn-google btn-user btn-block">
											<i class="fab fa-google fa-fw"></i>
											Connecter avec Google
										</a>
										<a href="index.html" class="btn btn-facebook btn-user btn-block">
											<i class="fab fa-facebook-f fa-fw"></i>
											Connecter avec Facebook
										</a>
									</form>
									<hr>
									<div class="text-center">
										<a class="small"  href="{{ path('app_forgot_password_request') }}">Mot de passe oublier?</a>
									</div>
									<div class="text-center">
										<a class="small" href="{{ path('ajout_employee') }}">Vous êtes un Employée!</a>
									</div>
									<div class="text-center">
										<a class="small" href="{{ path('ajout_utilisateur_fournisseur') }}">Vous êtes un Fournisseur!</a>
									</div>
								</div>
              </div>
            <!--</div>-->
          </div>
        </div>

      </div>

    </div>

  </div>
      


{% endblock layout %}

{% block footer %}{% endblock %}