{% extends 'base.html.twig' %}

{% block title %}ProduitRestaurant{% endblock %}

{% block content %}
    <h1>ProduitRestaurant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPdtrest</th>
                <td>{{ produit_restaurant.idPdtrest }}</td>
            </tr>
            <tr>
                <th>NomPdt</th>
                <td>{{ produit_restaurant.nomPdt }}</td>
            </tr>
            <tr>
                <th>QuantitePdt</th>
                <td>{{ produit_restaurant.quantitePdt }}</td>
            </tr>
            <tr>
                <th>categorie</th>
                <td>{{ produit_restaurant.categorie.nomCategorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_restaurant_index') }}">back to list</a>

    <a href="{{ path('app_produit_restaurant_edit', {'idPdtrest': produit_restaurant.idPdtrest}) }}">edit</a>

    {{ include('produit_restaurant/_delete_form.html.twig') }}
{% endblock %}
