{% extends 'base.html.twig' %}

{% block title %}Liste des Types de Congé
{% endblock %}
{% block StyleAfterTemplate %}
	<link href="{{asset('https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css')}}" rel="stylesheet"/>
	<link rel="stylesheet" href="{{asset('https://fonts.googleapis.com/icon?family=Material+Icons')}}">
	<style>

		/* Table actions icons*/
		table.table td a.view {
			color: #03A9F4;
		}

		table.table td a.edit {
			color: #FFC107;
		}

		table.table td a.delete {
			color: #E34724;
			text-align: center;
		}
		.hint-text {
			float: left;
			margin-top: 6px;
			font-size: 95%;
		}
	</style>
{% endblock StyleAfterTemplate %}
{% block content %}
	<div class="row justify-content-md-center">

		<div class="col-lg-7">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<div class="p-5">
						<div class="text-center">
							<h1 class="h4 text-gray-900 mb-4">Liste des Types de Congé</h1>
						</div>
						<a href="{{ path('AjouterTypeConge') }}" class="btn btn-success btn float-right col-sm col-md-3">
							<span class="icon text-white-50">
								<i style="float: left;" class="material-icons mr-2">&#xE147;</i>
							</span>
							<span class="text">Ajouter des Types</span>
						</a>
						<div class="table-responsive-sm mt-4">
							<div class="d-none d-sm-inline-block form-inline navbar-search">
								<div class="input-group" id="dataTable_filter">
									<input id="myInput" type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
									<div class="input-group-append">
										<div class="btn btn-primary">
											<i class="fas fa-search fa-sm"></i>
										</div>
									</div>
								</div>
							</div>
							<br>
							<br>
							<table class="table table-hover " id="myTable">
								<thead class="thead-light ">
									<tr>
										<th scope="col">Nom du Conge
										</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody id="myTable">
									{% for t in typeconge %}
										<tr>
											<td>
												{{t.nomTypeConge}}
											</td>

											<td>
												<a href="{{ path('SupprimerTypeConge',{'id':t.idTypeConge}) }}" class="delete" title="Delete" data-toggle="tooltip">
													<i class="material-icons">&#xe872;</i>
												</a>
												<a href="{{ path('ModifierTypeConge',{'id':t.idTypeConge}) }}" class="edit" title="Edit" data-toggle="tooltip">
													<i class="material-icons">&#xE254;</i>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

	{% endblock %}
	{% block JsAfterTemplate %}
		<script>
			$(document).ready(function () {
$("#myInput").on("keyup", function () {
var value = $(this).val().toLowerCase();
$("#myTable > tbody > tr").filter(function () {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});
		</script>
	{% endblock %}
