{% extends 'base.html.twig' %}

{% block title %}Ajouter Facture
{% endblock %}


{% block content %}

	<!-- Nested Row within Card Body -->
	<div class="row justify-content-md-center">

		<div class="col-lg-6">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<div class="p-5">
						<div class="text-center">
							<h1 class="h4 text-gray-900 mb-4">Ajouter Facture</h1>
						</div>

						{{form_start(form,{attr:{'novalidate':'novalidate', 'class':"user"}})}}
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">

								{{ form_widget(form.dateFacture,{ 'attr': {'class': "form-control form-control-user",
                                            'placeholder': 'Nom'|trans} }) }}
								<div style="color:red;">
									{{ form_errors(form.dateFacture) }}</div>
							</div>
							<div class="col-sm-6">
								<div class="form-check ">
									{% block choice_widget %}

										{% for child in form.statut %}
											<label class="form-check-label  ">
												{{- form_widget(child,{ 'attr': {'class': " radio-inline",
                                            'placeholder': 'Nom'|trans}}) -}}
												{{- form_label(child, null) -}}
											</label>
										{% endfor %}

									{% endblock choice_widget %}
								</div>
								<div style="color:red;">
									{{ form_errors(form.statut) }}</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								{{ form_widget(form.total,{ 'attr': {'class': "form-control form-control-user",
                                            'value': totalF |trans} }) }}
								<div style="color:red;">
									{{ form_errors(form.total) }}</div>
							</div>
							<div class="col-sm-6">
								{{ form_widget(form.idFournisseur,{ 'attr': {'class': "form-control form-control-user",
                                            'placeholder': 'Mot de passe'} }) }}
								<div style="color:red;">
									{{ form_errors(form.idFournisseur) }}</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								{{ form_widget(form.idRest,{ 'attr': {'class': "form-control form-control-user",
                                        'placeholder': 'Email'} }) }}
								<div style="color:red;">
									{{ form_errors(form.idRest) }}</div>
							</div>

						</div>


						<hr>
						<div class="d-grid gap-2 col-6 mx-auto">
							<button type="submit" class="btn btn-primary btn-user btn-block">
								Ajouter Facture
							</button>
						</div>

						{{form_end(form)}}

						<hr>

					</div>
				</div>

			</div>

		</div>
	</div>

{% endblock %}
